* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  
  background-color: #333;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  margin: 0;
  padding: 0 1rem;
}

nav h1 {
  font-size: 3rem;
  margin-right: auto;
}

nav a {
  color: inherit;
  display: flex;
  gap: 1rem;
  text-decoration: none;
  align-items: center;
  padding: 3rem;
}

nav a.active {
  background-color: #555;
}

nav a:hover {
  background-color: #777;
}

.hotel {
  padding: 2px;
  margin: 10px;
  border-style: solid;
  border-color: black;
}

.review input {
  width: 90%;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  overflow: auto;
}